.user-race-data-main {
  width: 100vw;
}
.user-time-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  padding: 20px;
  overflow-x: scroll;
}
.user-race-title {
  font-size: 20px;
  color: black;
  margin: 15px 0px 0px 15px;
}
.user-horce-card {
  display: flex;
  flex-direction: column;
  height: 500px;
  overflow-y: auto;
  gap: 7px;
  margin: 15px;
}
.user-simple-card-body {
  width: 400px;
}
.user-card-main {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  transition: 5s all ease;
}
.user-simple-card {
  display: inline-block;
  margin: 15px 0px 15px 15px;
  scroll-behavior: smooth;
}
.user-simple-card-time {
  margin: 0px;
}
.user-simple-card-hour {
  margin: 0px;
}
#basic-navbar-nav {
  margin-top: 145px;
}
.race-id-main {
  display: flex;
  gap: 5px;
  margin: 0px;
}
.race-details-card {
  background: transparent;
  border: none;
}
.user-card-body {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.06);
}
.horce-card-body {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  padding: 15px;
}
.horce-card-prs-name {
  color: black;
  font-weight: bolder;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.details-div {
  /* margin-left: 12px; */
}
.jockey-icons {
  background: #c62828 !important;
  padding-left: 4px;
  padding-right: 4px;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  margin: 2px;
}
.trainer-icons {
  background: #2e7d32 !important;
  padding-left: 4px;
  padding-right: 4px;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  margin: 2px;
}
.jockey-details {
  color: #424242 !important;
  font-weight: 700;
}
.trainer-details {
  color: #424242 !important;
  font-weight: 700;
}
.jersey-div {
  margin-right: 12px;
}
.selected-race-data {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 0.05), 0 6px 20px 0 rgb(0 0 0 / 0.08);
}
.user-city-tab {
  margin: 10px 0px;
}
.state-array {
  display: flex;
  gap: 1px;
  padding: 15px 15px 0px 15px;
}
.state-button-user {
  background: #cdc6eb;
  color: #0000008a;
  border: 1px solid white;
  padding: 8px;
  height: 44px;
  border-radius: 5px;
}
.odds-button {
  background: #cdc6eb;
  color: #0000008a;
  border: 1px solid white;
  height: 38px;
  /* width: 40px; */
  border-radius: 5px;
}
.bet-button {
  background: #cdc6eb;
  color: #0000008a;
  border: 1px solid white;
  height: 38px;
  /* width: 40px; */
  border-radius: 5px;
}
