.table-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 20px;
  height: 100vh;
  overflow: scroll;
}
.form-control {
  font-size: 14px;
}
.form-label {
  font-size: 14px;
}
.modal-content {
  margin: 8%;
}
.table tr {
  font-size: 14px;
}
.user-data-tabel{
  position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 64px;
    overflow: hidden;
    -webkit-transition: all .15s;
    transition: all .15s;
    padding: 0 20px;
    background: inherit;
    -webkit-transition: background-color .35s cubic-bezier(.4,0,.2,1);
    transition: background-color .35s cubic-bezier(.4,0,.2,1);
}
table {
  border: 1px solid black;
  overflow-x: scroll;
  max-height: 350px;
}

td,
th {
  border: 1px solid black;
  width: 1%;
}

.table-fixed thead {
  width: 97%;
}

.table-fixed tbody {
  height: 150px;
  overflow-y: scroll;
  width: 100%;
}
.status-form-div{
  display: flex;
    align-items: center;
    justify-content: space-around;
}
